/* div{
    width: 500px;
    height: 200px;
    background-color: pink;
}

ul{
    background-color: blueviolet;
}

li{
    background-color: chartreuse;
} */

body{
    text-align: center;
    background-color: aqua;
}

.btn{
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 30px;
    margin: auto;
    margin: 30px;
}

.btn-container{
    display: flex;
    justify-content: center;

}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99d45;
}

.green{
    background-color: rgb(29, 219, 38);
}

.purple{
    background-color: rgb(166, 15, 171);
}   

.flash{
    background-color: white;
}

/* #high_score{
    width: 500px;
}
#highest-score{
    
} */